/* body {
  background-color: #0D3A5F;
  padding: 20px; 
}

.promo {
  border: 5px solid black;
  width: 80%; 
  border-radius: 15px; 
  margin: 0 auto; 
  max-width: 600px;
  font-family: Arial, sans-serif; 
}


.logo {
  text-align: center; 
  padding: 10px; 
  background-color: orange;
}

.title {
  text-align: center;
  background-color: orange; 
  padding: 10px;
  color: #333; 
}

.intro {
  padding: 10px;
  line-height: 1.5; 
  background-color: orange;

}

.facilities {
  padding: 3px; 
  background-color: orange; 

.staff {
  padding: 10px; 
  background-color: orange;

}

.link {
  padding: 10px;
  text-align: center; 
  background-color: orange;
}

h1 {
  margin: 0; 
  background-color: orange;

}

p, ul {
  margin: 10px 0; 
  background-color: orange;

}

a {
  color: #333;
  text-decoration: none; 
  background-color: orange;

}

a:hover {
  color: #000; 
  text-decoration: underline; 
}
h1{
  color:#0D3A5F
} */
